body {
    background: linear-gradient(to right, #f89379, #faa364);
    margin: 0;
    font-size: 16px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    color: #f5f5dc;
}

h1 {
    color: #f5f5dc;
    text-align: center;
    font-style: italic;

}

h2 {
    font-size: 24px;
    color: #8b4513;
    border-bottom: 2px solid#8b4513;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
}

.tytle {
    color: #f5f5dc;
    background-color: #ff6347;
    border-radius: 30px;

}

.contenedor {
    flex-wrap: wrap;
    border-radius: 30px;
    gap: 20px;
    display: flex;
    background-color: #d2691e;
    padding: 10px;
    margin: 30px;
    justify-content: center;
    align-items: center;
    max-width: 100%;



}

.link {
    color: rgb(19, 19, 255);
    text-decoration: underline;
    font-size: 20px;
    text-align: center;

}

.texto {
    color: #f5f5dc;
    font-size: 20px;
    text-align: center;
    max-width: 500px;
    min-width: 200px;
    flex-grow: 1;
}

.imagen {
    display: block;
    /*para que se ajuste a la pantalla*/
    border-radius: 30px;
    min-width: 200px;
    /*minimo de ancho de la imagen*/
    max-width: 500px;
    /*maximo de ancho de la imagen*/
    height: auto;
    /*auto para que se ajuste a la pantalla*/
}

.imagen:hover {
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 0 0 20px 0 #e9967a;
}

.contenedor-preparacion-ingredientes {
    display: flex;
    justify-content: space-between;
    /*para agregar espacio entre los elementos */
    gap: 20px;
    /*espacio entre los divs*/
    margin: 20px auto;
}

.ingredientes,
.preparacion

/* que hace esto */
    {
    width: 45%;
    /*establese el ancho de los elementos los divs, cada uno ocupa un 45 y dejan 10 libre*/
    padding: 20px;
    /*espacio interno de los elementos y su contendio texto*/
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    /*sombra alrederor del elemento*/


}

.ingredientes {
    font-size: 18px;
    background-color: #f4a460;
    ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    /*centrar*/
    color: #f5f5dc;

}

.ingredientes.ul {
    list-style: none;
    padding: 0;


}

.ingredientes.li {

    font-size: 18px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 10px;

}

.preparacion {
    background-color: #d2691e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    font-size: 18px;


}

.preparacion ol {

    list-style: decimal;

}

.preparacion li

/*para seleccionar listas uso el espacio, no el punto*/
    {
    padding: 10px 0;
    /*espacio interno entre un elemento y su borde */
    line-height: 1.4;
    /*espaciado entre lineas*/
    transition: background-color 0.4s, transform 0.4s, padding-left 0.4s;

}

.preparacion li:hover {
    background-color: #e9967a;
    border-radius: 5px;
    padding-left: 15px;
    transform: scale(1.1);
}

.calificacion {

    background-color: #8b4513;
    padding: 20px;
    ;
    font-size: 15px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    /*establece un margen de 20px superior y inferior y se acomoda automaticmente en izqy der*/
    color: #f5f5dc;
    max-width: 600px;
    /*ancho maximo de 600px*/


}

.calificacion form {
    display: flex;
    flex-direction: comlumn;
    gap: 10px;
    align-items: center;

}

.calificacion select,
.calificacion textarea {
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #d2691e;
    font-size: 15px;
    background-color: #f4a460;
    color: #333;
}

/*boton con efecto */

.calificacion input[type="submit"] {
    background-color: #e9967a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s, ease-in-out;

}

.calificacion input[type="submit"]:hover {
    background-color: #d2691e;
    transform: scale(1.05);
}

.despedida {


    background-color: #f4a460;
    padding: 10x;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    color: #8b4513;
    max-width: 600px;
}

.bon {

    font-size: 30px;
    background-color: #f4a460;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    color: #8b4513;
    max-width: 500px;
    border: solid #333;

}

.cursiva {
    font-family: 'Mr Dafoe', cursive;

}